/.idea/
/spring-01/.idea/
/spring-01/target/

/spring-02/.idea/
/spring-02/target/

/spring-03/.idea/
/spring-03/target/

/spring-04/.idea/
/spring-04/target/
/spring-04/spring-shell.log

/spring-05/.idea/
/spring-05/target/
/spring-05/spring-shell.log

/spring-06/.idea/
/spring-06/target/
/spring-06/spring-shell.log

/spring-07/.idea/
/spring-07/target/
/spring-07/spring-shell.log

/spring-08/.idea/
/spring-08/target/
/spring-08/spring-shell.log
